_build/*
exports/*
*.sw?
.~lock.*
*.pgdump

fr/**/*.json
fr/**/*.html
fr/**/*.tex
fr/**/*.pdf
fr/**/*.odt
fr/**/*.doc
fr/**/*.epub

en/**/*.json
en/**/*.html
en/**/*.tex
en/**/*.pdf
en/**/*.odt
en/**/*.doc
en/**/*.epub