## PRO TIP : Test your changes locally with :
## gitlab-ci-multi-runner exec docker {name_of_the_job}

##
## I N C L U D E S
##

# How To Export artefacts to the private environment
include:
  - project: 'dalibo/gitlab-templates'
    file: 'artifacts_private_env.yml'

##
## V A R I A B L E S
##

variables:
  # $ARTIFACTS is required by artefacts_private_env.yml
  ARTIFACTS: '_site/*'  
  # 
  THEMES_BRANCH: stable # usually 'stable' or 'master'


before_script:
  # Prepare for Deploy Keys
  # see https://docs.gitlab.com/ee/ci/ssh_keys/README.html#ssh-keys-when-using-the-docker-executor
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - mkdir -p ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

#
# We use the same image for all jobs
#
image:
  name: dalibo/pandocker:18.06 # usually 'stable' or 'latest' (=master)
  entrypoint: [""]  # we need to override the image entrypoint


##
##  B U I L D
##

pandoc:
  stage: build
  script:
    #
    # The dalibo themes are not mandatory
    # CI should be able to run without it
    #
    - > 
        if [[ $GITLAB_DEPLOY_PRIVATE_KEY ]] ; then 
                ssh-add <(echo "$GITLAB_DEPLOY_PRIVATE_KEY")
                git clone -b $THEMES_BRANCH git@gitlab.dalibo.info:marketing/themes.git
                make --directory=themes install
        fi
    # pandoc
    - make all

  artifacts:
    paths:
      - fr/
      - en/
    expire_in: 1 day

##
##  D E P L O Y 
##

## Export the master branch in a public location  
public:
  stage: deploy
  script:
    ## Install Deploy Key
    - ssh-add <(echo "$CLOUD_DEPLOY_PRIVATE_KEY")
    ## Push
    - rsync -avp fr $CLOUD_DEPLOY_DEST
    - rsync -avp en $CLOUD_DEPLOY_DEST
  only:
    - master@formation/workshops
