# stanza_pg
#
[{{ postgresql_version }}-main]
pg1-path=/var/lib/postgresql/{{ postgresql_version }}/main
pg1-socket-path=/var/run/postgresql
pg1-port=5432

[global]
log-level-file=detail
log-level-console=detail
repo1-host=backup
repo1-host-user=postgres

