# See http://editorconfig.org/

root = true

[*]
charset = utf-8
# Unix-style newlines
end_of_line = lf
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{md,markdown}]
trim_trailing_whitespace = false
